@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.heading {
font-size: 23px;
width: 100%;
margin: 0px;
}

#status {
font-size: 18px;
}
body {
  background: rgb(63,94,251);
  background: linear-gradient(148deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  color:white;
  font-family:poppins;
}
canvas{
border:2px solid white;
margin-top:15px;
border-radius: 10px;
box-shadow: 5px 5px 5px white;
}
#p5-loading{
  text-align:center !important;
}
.button-rounded{
  border-radius: 10px;
  background-color:#ffffff00;
  border-color:#fff;
  font-size:25px;
}
#footer {
  color:#fff;
  width:92vw;
  padding:5vh 4vw;
  text-align:center;
  position:fixed;
  z-index:1;
  bottom:0;
  font-size:16px;
  font-weight:bold;
}
#footer a {
  color:rgb(255, 255, 255) ;
}